body{
  font-size:10rem;
  background-color:white;
  color:black;
  font-family:sans-serif;

}

.patternUnit{
  position:relative;
  animation: infinite 15s animateMe;
	display: block;
	height:10px;
	width: 1500px;
border: 6px dashed white;
}

@keyframes animateMe {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}

}
