html{
  padding-left: 10px;
}

.module_child{
  width:40px;
  height:30px;
  animation: infinite 20s animateMe;
}


@keyframes animateMe {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(350deg);}

}
