body{
  font-size:10rem;
  background-color:white;
  color:red;
  font-family:sans-serif;
  letter-spacing: -5px;

}

.patternUnit{
  position:relative;
  animation: infinite 20s animateMe;
	display: block;
	height:10px;
	width: 1500px;
border: .5px dashed white;
}

@keyframes animateMe {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(350deg);}

}
