body{
  font-size:1rem;
  background-color:black;
margin:0px;
    padding:0px;
}

#wrapper{
    position:absolute;
    top:0px;
    animation: infinite 20s animateMe;
}

@keyframes animateMe {
  0%{transform: skew(0deg);}
  100%{transform: skew(360deg);}

}

@keyframes animateMe2 {
  0%{transform: skew(360deg);}
  100%{transform: skew(0deg);}

}

