body{
    background-color:black;
  color:red;
  font-size:1rem;
  margin:0px;
    padding:0px;

}

#wrapper{
    position:fixed;
    left:10%;
    height:100vh;
    width:200vw;
}

#move{
  position:absolute;
  width:100vw;
  height:300px;
  top:30vh;
}

#box{
  position:fixed;
  height:100vh;
  width:100vw;
  background-color:black;
  z-index:9;

}

#box2{
  position:fixed;
  left:40vw;
  height:100vh;
  width:100vw;

  z-index:1;

}

.class1{
  opacity:1;
}
.class2{
  opacity:0;
}









.patternunit{
    position:absolute;
    display:inline-block;
    height:99vh;
    width: 99vh;
    border-radius: 50%;
    border: 1.8px dotted white;
}

.patternunit2{
    position:absolute;
    display:inline-block;
    height:99vh;
    width: 0px;
   border-left: 1.8px dotted white;
}



@keyframes animateMe {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}

}

@keyframes animateMe2 {
  0%{transform: skew(360deg);}
  100%{transform: skew(0deg);}

}
